<!DOCTYPE html>
<html>
  <table border="0" cellpadding="0" cellspacing="0" width="450px">
    <tr>
      <!-- Inceput Logo -->
      <td style="padding: 25px">
        <img
          src="file:///D:/Logo_Conturi_Email/cronos.png"
          alt="logo"
          width="150px"
          height="auto"
        />
      </td>
      <td width="25px;"></td>
      <!-- Sfarsit Logo -->
      <!-- Inceput Date Personal -->
      <td width="300px">
        <div
          style="
            font-family: Montserrat;
            font-size: 14px;
            color: #0d3b66;
            font-weight: 400;
            padding-top: 10px;
            padding-bottom: 2px;
          "
        >
          <strong>Catalin SOARE</strong>
        </div>
        <div
          style="
            font-family: Montserrat;
            font-size: 12px;
            color: #ff4e35;
            font-weight: 400;
            padding-bottom: 10px;
          "
        >
          Photographer
        </div>
        <div
          style="
            font-family: Montserrat;
            font-size: 12px;
            color: #0d3b66;
            font-weight: 400;
            padding-bottom: 3px;
          "
        >
          <strong>Telefon:</strong> +4 0747.823.423
        </div>
        <div
          style="
            font-family: Montserrat;
            font-size: 12px;
            color: #0d3b66;
            font-weight: 400;
            padding-bottom: 3px;
          "
        >
          <strong>E-mail:</strong>
          <a
            href="mailto:catalin@cronosmedia.ro"
            style="text-decoration: none; color: #031926"
            >catalin@cronosmedia.ro</a
          >
        </div>
        <div
          style="
            font-family: Montserrat;
            font-size: 12px;
            color: #0d3b66;
            font-weight: 400;
            padding-bottom: 10px;
          "
        >
          <strong>Web:</strong>
          <a
            href="https://cronosmedia.ro"
            style="text-decoration: none; color: #031926"
            >www.cronosmedia.ro</a
          >
        </div>
      </td>
    </tr>
    <table border="0" cellpadding="0" cellspacing="0" width="100%"></table>
  </table>
  <!-- Sfarsit Date Personal -->
</html>
